{
  "board_id": "68f67984d4331f5a481236bf",
  "board_url": "https://trello.com/b/68f67984d4331f5a481236bf/ezrasolution",
  "board_name": "EzraSolution",
  "api_key": "your_api_key_here",
  "token": "your_token_here"
}
